* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h2 {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.384);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #23272a;
}

form {
    width: 70%;
    height: 85vh;
    background-color: #60616272;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.218), 
    5px 5px 20px rgba(0, 0, 0, 0.218);
    
}

.form-option {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 5%;
}

label {
    color: rgba(255, 255, 255, 0.582);
}

input {
    background-color: transparent;
    border: none;
    border-bottom: #23272a solid 2px;
    outline: none;
}

select {
    background-color: transparent;
    border: none;
    border-bottom: #23272a solid 2px;
    outline: none;
    height: 30px;
    margin-bottom: 20px;
}

.margin-kineme {
    height: 30px;
    margin-bottom: 20px;
}

button {
    background-color: #23272a7a;
    height: 100px;
}
